<html>
	<head>
	
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	
	<style>
		#header
		{
			background-color: #F8EAC5;
		}
		p	
		{
			font-size: 70px;
			color: orange;
		}
	</style>

	<body>
		<div id="header" class="jumbotron" style="text-align:center;" >
			<h2 id = "textHeader"> The <b> Game </b></h2>
		</div>
		<font family="roboto-thin"><p id="print"></p></font>
		
	</body>
	
	<script>
		var time = 61;
		var timerRunning = false;
	
		function updateClock()
		{
			time = time - 1;
			document.getElementById("print").innerHTML = time;
			if(time <= 0)
			{
				clearInterval(timer);
				window.location.replace("/processGameAnswers");
			}
		}

		function startTimer()
		{	
			$("a").hide("slow");
			if (timerRunning == false)
			{	
				timer = setInterval(updateClock, 1000);
				timerRunning = true;
			}			
		}
		startTimer()
	</script>

</html>