
<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset=UTF-8>

		<title>Play!</title>
		<link rel=stylesheet href=play.css %}>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<style>
		section
		{
			padding-left: 58px;
		}
		</style>
	</head>
	<body>
	
		<div id="header" class="jumbotron" style="text-align:center;" >
			<h2 id="textHeader"><font face="roboto-thin">The </font><font face="roboto-bold"> Game</font></h2>
		</div>
		
		<div id="goalDisplay" class="jumbotron">
			<font face="roboto-thin">
				<p class="noNewLine">Use </p>
			</font>
			<font face="roboto-bold">
				<p id="operationLbl" class="noNewLine">x </p>
			</font>
			<font face="roboto-thin">
				<p class="noNewLine">to get a result of </p>
			</font>
			<font face="roboto-medium">
				<p id="goalLbl" class="noNewLine">x</p>
			</font>
			<p class="noNewLines">
				<font face="roboto-thin"><p id="timeVal"></p></font>
			</p>
		</div>
		<div class="container">
		<center>
		<button type = "button" id = "SohamsButton" > Soham's Button </button>
		<section id=matrix>
			<section id=row1>
				<section id=box0 class=container>
						<p id=0>x</p>
					
				</section>
		
				<section id=box1 class = container>
						<p id=1>x</p>
				</section>
		
				<section id=box2 class = container>
						<p id=2>x</p>
				</section>
		
			</section>
	
			<section id=row2>
				<section id=box3 class = container>
						<p id=3>x</p>
				</section>
		
				<section id=box4 class = container>
						<p id=4>x</p>
					
				</section>
		
				<section id=box5 class = container>
						<p id=5>x</p>
				</section>
			</section>
	
			<section id=row3>
				<section id=box6 class = container>
						<p id=6>x</p>
				</section>
		
				<section id=box7 class = container>
						<p id=7>x</p>
				</section>
		
				<section id=box8 class = container>
						<p id=8>x</p>
				</section>
			</section>
		</section>
		</center>

		<script>
		$("#SohamsButton").hide();
		var array;
		var selected;
		var goal;
		
		var MAX_NUM = 15;
			
		var operations = ['addition', 'subtraction', 'multiplication', 'division'];
		var operationSelect = 2;
	
		var time = 61;
		var timerRunning = false;
		
		function getRand(){
			return Math.ceil((Math.random() * MAX_NUM) + 0.1);
		} 
		
		function updateClock()
		{
			time = time - 1;
			$("#timeVal").text(String(time));
			if (time == 55)
			{
				$("#SohamsButton").show();
			}
			if(time <= 0)
			{
				clearInterval(timer);
				window.location.replace("/processGameAnswers");
			}
		}

		function startTimer()
		{	
			if (timerRunning == false)
			{	
				timer = setInterval(updateClock, 1000);
				timerRunning = true;
			}			
		}

		function fill(){
			array = [0, 0, 0, 0, 0, 0, 0, 0, 0];
			selected = 0;
			
			var i; 
			var index1 = parseInt(Math.random() * MAX_NUM);
			var index2 = parseInt(Math.random() * MAX_NUM);
			var fact1 = getRand(); 
			var fact2 = getRand();
			goal = fact1 * fact2;
			
			array[index1] = fact1; 
			array[index2] = fact2; 
	
			if (index2 == index1) 
			{
				index2 = (index1 + 1) % 9;
			}
	
			for (i = 0; i < 9; i++)
			{
				if (i == index1)
					continue; 
				if (i == index2)
					continue; 
				array[i] = getRand(); 
			}
	
			document.getElementById("0").innerHTML = array[0]; 
			document.getElementById("1").innerHTML = array[1];
			document.getElementById("2").innerHTML = array[2];
			document.getElementById("3").innerHTML = array[3];
			document.getElementById("4").innerHTML = array[4];
			document.getElementById("5").innerHTML = array[5];
			document.getElementById("6").innerHTML = array[6];
			document.getElementById("7").innerHTML = array[7];
			document.getElementById("8").innerHTML = array[8];
			return; 
			}
			
		function handleClick() {
			$("#textHeader").text(this.id);
			$(this).css("background-color", "rgb(244, 179, 80)");
			if (selected == 2) {
				selected = 0;
			}
		}
		
		// Add an event listener to all of the divs
		document.getElementById("box0").addEventListener("click", handleClick);
		document.getElementById("box1").addEventListener("click", handleClick);
		document.getElementById("box2").addEventListener("click", handleClick);
		document.getElementById("box3").addEventListener("click", handleClick);
		document.getElementById("box4").addEventListener("click", handleClick);
		document.getElementById("box5").addEventListener("click", handleClick);
		document.getElementById("box6").addEventListener("click", handleClick);
		document.getElementById("box7").addEventListener("click", handleClick);
		document.getElementById("box8").addEventListener("click", handleClick);

		startTimer()
		fill();
		
		$("#operationLbl").text(String(operations[operationSelect]));
		$("#goalLbl").text(String(goal));
		</script> 
	</body>
</html>
