{% load staticfiles %}
<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset=UTF-8>

		<title>Play!</title>
		<link rel=stylesheet href={% static 'MainTeachingApp/play.css' %}>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<style>
		section
		{
			padding-left: 58px;
		}
		</style>
	</head>
	<body>
	
		<div id="header" class="jumbotron" style="text-align:center;" >
			<h2 id="textHeader"><img src="{% static 'MainTeachingApp/math_match.gif' %}" alt="math match header"</h2>
		</div>
		
		<div id="goalDisplay" class="jumbotron">
			<font face="roboto-thin">
				<p class="noNewLine">Use </p>
			</font>
			<font face="roboto-bold">
				<p id="operationLbl" class="noNewLine">x </p>
			</font>
			<font face="roboto-thin">
				<p class="noNewLine">to get a result of </p>
			</font>
			<font face="roboto-medium">
				<p id="goalLbl" class="noNewLine">x</p>
			</font>
			<p class="noNewLines">
				<font face="roboto-thin"><p id="timeVal"></p></font>
			</p>
		</div>
		<div class="container">
		<center>
		
		<section id=matrix>
			<section id=row1>
				<section id=0 class=container>
						<p id=p0>x</p>
					
				</section>
		
				<section id=1 class = container>
						<p id=p1>x</p>
				</section>
		
				<section id=2 class = container>
						<p id=p2>x</p>
				</section>
		
			</section>
	
			<section id=row2>
				<section id=3 class = container>
						<p id=p3>x</p>
				</section>
		
				<section id=4 class = container>
						<p id=p4>x</p>
					
				</section>
		
				<section id=5 class = container>
						<p id=p5>x</p>
				</section>
			</section>
	
			<section id=row3>
				<section id=6 class = container>
						<p id=p6>x</p>
				</section>
		
				<section id=7 class = container>
						<p id=p7>x</p>
				</section>
		
				<section id=8 class = container>
						<p id=p8>x</p>
				</section>
			</section>
		</section>
		<br><br>
		<div class="jumbotron" id="warningMessage">
			<p>
				Hmm that doesn't seem right... Try again!
			</p>
		</div>
		<div class="jumbotron" id="successMessage">
			<p>
				That's right! :)
			</p>
		</div>
		</center>

		<script>
		var array;
		var selected;
		var goal;
		
		var score = 0;
		
		var MAX_NUM = 15;
			
		var operations = ['addition', 'subtraction', 'multiplication', 'division'];
		var operationSelect = 2;
	
		var time = 61;
		var timerRunning = false;
		
		function getRand(){
			return Math.ceil((Math.random() * MAX_NUM) + 0.1);
		} 
		
		function updateClock()
		{
			time = time - 1;
			$("#timeVal").text(String(time));

			if(time <= 0)
			{
				clearInterval(timer);
				window.location.replace("/processGameAnswers?score=" + score);
			}
		}

		function startTimer()
		{	
			if (timerRunning == false)
			{	
				timer = setInterval(updateClock, 1000);
				timerRunning = true;
			}			
		}

		function fill(){
			array = [0, 0, 0, 0, 0, 0, 0, 0, 0];
			selectedElems = [false, false, false, false, false, false, false, false, false]
			selected = 0;
			
			var i; 
			var index1 = parseInt(Math.random() * MAX_NUM);
			var index2 = parseInt(Math.random() * MAX_NUM);
			var fact1 = getRand(); 
			var fact2 = getRand();
			goal = fact1 * fact2;
			
	
			if (index2 == index1) 
			{
				index2 = (index1 + 1) % 9;
			}
			
			array[index1] = fact1; 
			array[index2] = fact2; 
			
			$("#operationLbl").text(String(operations[operationSelect]));
			$("#goalLbl").text(String(goal));
	
			for (i = 0; i < 9; i++)
			{
				if (i == index1)
					continue; 
				if (i == index2)
					continue; 
				array[i] = getRand(); 
			}
	
			document.getElementById("p0").innerHTML = array[0]; 
			document.getElementById("p1").innerHTML = array[1];
			document.getElementById("p2").innerHTML = array[2];
			document.getElementById("p3").innerHTML = array[3];
			document.getElementById("p4").innerHTML = array[4];
			document.getElementById("p5").innerHTML = array[5];
			document.getElementById("p6").innerHTML = array[6];
			document.getElementById("p7").innerHTML = array[7];
			document.getElementById("p8").innerHTML = array[8];
			return; 
			}
			
		    function handleClick() {
            var currIndex = parseInt(this.id);

            if (selectedElems[currIndex] == false) {
                if (selected < 2) {
                    selected += 1;
                    selectedElems[currIndex] = true;
                }
            } else {
                return;
            }
            
            $(this).css("background-color", "rgb(244, 179, 80)");
            
            if (selected == 2) {
                var firstElem = 0;
                var indexOfFirst = 0;
                var secondElem = 0;
                var indexOfSecond = 0;
            
                var computedResult = 0;
                
                // Get the first element
                for (var i = 0; i < 9; i++) {
                    if (selectedElems[i] == true) {
                        firstElem = parseInt(array[i]);
                        indexOfFirst = i;
                        break;
                    }
                }
                
                for (var j = indexOfFirst + 1; j < 9; j++) {
                    if (selectedElems[j] == true) {
                        secondElem = parseInt(array[j]);
                        indexOfSecond = j;
                        break;
                    }
                }
                                
                if (operationSelect == 2) {
                    // Multiply
                    computedResult = firstElem * secondElem;
                    $("#textHeader").text("The result: " + computedResult);

                }
                
                if (computedResult != goal) {
                    $("#warningMessage").show();
                    setTimeout(function() {
                        $('#warningMessage').fadeOut('fast');
                    }, 3000); // <-- time in milliseconds
                } else {
                    score += time;
                    $("#successMessage").show();
                    setTimeout(function() {
                        $('#successMessage').fadeOut('fast');
                    }, 3000); // <-- time in milliseconds
                    

                }
                
                $("#" + indexOfFirst).css("background-color", "rgb(252, 210, 134)");
                $("#" + indexOfSecond).css("background-color", "rgb(252, 210, 134)");
                
                selected = 0;
                fill();
            }
        }
        
        // Add an event listener to all of the divs
        document.getElementById("0").addEventListener("click", handleClick);
        document.getElementById("1").addEventListener("click", handleClick);
        document.getElementById("2").addEventListener("click", handleClick);
        document.getElementById("3").addEventListener("click", handleClick);
        document.getElementById("4").addEventListener("click", handleClick);
        document.getElementById("5").addEventListener("click", handleClick);
        document.getElementById("6").addEventListener("click", handleClick);
        document.getElementById("7").addEventListener("click", handleClick);
        document.getElementById("8").addEventListener("click", handleClick);
	
		$("#warningMessage").hide();
		$("#successMessage").hide();

		startTimer()
		fill();
		</script> 
	</body>
</html>
