.noNewLine {display: inline;}
	
#goalDisplay {text-align:center;
			  padding-bottom: 10px;
			  padding-top: 25px;
			  }
	
#operationLbl {font-size:200%}

#goalLbl {font-size:200%}

#header {background-color: #B6D9E8;
    	margin-bottom: 0px;
		}
		
#timeLbl {text-align:center;
		 }
		
#timeVal {font-size:200%}

#row1 {width: 720px;
	   height: 180px;
	   }

#row1 section {width: 180px;
	   height: 180px;
	   float: left;
	   background-color: #FCD286;
	   border-style: solid; 
	   border-color: white;
	   border-width: 1px;
	   }
	   
#row1 section.active {color: #F4B350}
	   
#row1 p {font-family: Verdana, sans-serif; 
		 color: white; 
		 font-size: 45px; 
		 position: relative;
		 top: 15px; 
		 text-align: center;
		}

#row2 {width: 720px;
	   height: 180px;
	   }

#row2 section {width: 180px;
	   height: 180px;
	   float: left;
	   background-color: #FCD286;
	   border-style: solid; 
	   border-color: white;
	   border-width: 1px;
	   }
	   
#row2 p {font-family: Verdana, sans-serif; 
		 color: white; 
		 font-size: 45px; 
		 position: relative;
		 top: 15px; 
		 text-align: center;
		}

#row2 section.active {color: #F4B350}

#row3 {width: 720px;
	   height: 180px;
	   }
	   
#row3 section {width: 180px;
	   height: 180px;
	   float: left;
	   background-color: #FCD286;
	   border-style: solid; 
	   border-color: white;
	   border-width: 1px;
	   }
	   
#row3 p {font-family: Verdana, sans-serif; 
		 color: white; 
		 font-size: 45px; 
		 position: relative;
		 top: 15px; 
		 text-align: center;
		}
	   
#row3 section.active {color: #F4B350}